body {
  font-family: 'Marvel', sans-serif;
}
p, li{
  font-size: 1.25em;
}

h2 {
  font-size: 1.75em;
}

/*navigation*/
.navbar {
  background: grey;
  margin-top: -16px;
  background-image: url(./img/navbg.png);
  /*position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;*/
 
}

/*#home {
  background-image: url(./img/navbg.png);
}*/
.heading {
  
  display: inline-block;
  margin: 0 100px ;
  letter-spacing: 2.5px;
  font-size: 3.5em; 
  vertical-align: middle;
  color: white;
  
  
}

nav li {
  
  display: inline;
  text-align: left;
  list-style: none;
  float: right;
  padding: 20px 50px;
  font-size: 2em;
  margin: 130px 0;
  vertical-align: middle;
  
}
nav a:link,
nav a:visited {
  color: white;
  text-decoration: none; 
  
  }

nav a:focus {
  border: 2px;
 }

nav a:hover {
    background: rgba(255, 117, 25,.75);
  }

nav a:active{
  background: #FF5CAD;
  color: teal
  }



.logo {
  display: inline;
  vertical-align: middle;
  margin: 15px 50px;
  
}
/*bio and picture*/

.profile-pic {
  margin: 10px;
  padding: 10px;
  border-radius: 15%;
  vertical-align: middle;
  margin-top: 50px;
  display: inline;
  float: left;
  padding-right: 50px;
}

.bio {
 border-bottom: dotted orange;
 padding; 10px;
 
 margin-top: 50px;
 padding: 10px;
 padding-bottom: 60px;
 
 }

.bio ul {
  
  list-style-type: none;
}


/*gallery*/

.art {
  
  margin-left: 50px;
  font-size: 2em;
}



figure {
   
  
  float: left;
  height: 300px;
  margin: 20px;
  width: 300px;
  position: relative;
}

/* Header */
figure h5 {
  background: rgba(214, 214, 255,.75);
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  z-index: 2;
  font-size: 1.25em;
  text-transform: uppercase;
  
}
.thumbnail {
  background: orange;
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  
}

/* Caption - First Frame */
.thumbnail p {
  position: absolute;
  margin: 0;  
  bottom: -300px;
  transition: bottom .75s ease-in;
  background: rgba(255, 117, 25,.75);
}

/* Caption - Last Frame */
.thumbnail:hover p {
  bottom: 0;
}

.container {
  margin: 0 auto;
  
}

/****code for gallery taken from class example****/


/*contact*/
footer {
  
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #7D7D7A;
  border-top: dotted orange;
  }
.contact-means {
   list-style-type: none;
}
/*contact form*/
.typeform-widget {
  padding: 180px;
  margin:0 auto;
  width: 80%;
  height: 500px;
}
/*media queries*/
@media screen and (min-width:1811px) {
  .page{
    max-width:1811px;
    margin: auto;
    
  }
  
}
@media screen and (max-width: 1807px){
  .heading {
    
    
  }
  
}

