/*   Global   */


body{
	font-family:'Marvel', sans-serif;
	line-height: 1em;
	font-size: 1.25em;

}

/*  Home Page     */
 .home header {
	font-family:'Cuprum', sans-serif;
   font-size: 5em;
   color: #F2D8D3;
	text-align: left;
   letter-spacng: 6px;
	background: #BF3668;
   margin: 0 auto 0 auto;
   width: 100%;
   Padding:3% 5% 3% 1%;
   

}


/*    Nav         */
nav a:link,
nav a:visited {
  color: #476081;
  text-decoration: none; 
  
  }

nav a:focus {
  border: 2px;
 }

nav a:hover {
    background: #9099A7
  }

nav a:active{
  background: #123159;
  color: #F2994B
  }

nav li {
  display:inline-block;
}

nav{
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0 3% 10px 0;
  font-size: 1.5em;
  word-spacing: 1em;
  }

.pic {
  
  padding:0 0 0 10px;
  display: inline;
  max-width: 350px;
  margin:0 auto 30px;
  border-radius: 30%;

}

/*  Bio page   */

.bio h2,
.bio h3 {
	font-family: 'Cuprum', sans-serif;
	text-align: left;
   
}

.bio header{
	color: #F2D8D3;
   font-family:'Cuprum', sans-serif;
   font-size: 2em;
	letter-spacing: 2px;
   background: #BF3668;
   margin: 0 auto 0 auto;
   width: 100%;
   Padding:2% 5% 2% 1%;
  

}
.bio article {
	background: teal;
	margin: 0 auto 0 auto;
	width: 1000px;
}
.bio section{
	float: left;
	width: 50%;

}

.left{
	width:49%;
	float:left;

}
.right{
	float:right;
	width: 49%;


}

/*  Style Tile   */ 

section {
  margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
  border: 1px solid #000;
  float: left;
  margin: 0 10px;
  height: 50px;
  width: 50px;
}
.color-1{
  background:#BF3668;
}
.color-2{
  background: teal;
  }
.color-3 {
  background: #476081;
}
 
/* Set Your Own Typography */
 .style-text {
   font-family:'Marvel', sans-serif;
 }
.container h1, h2 {
  font-family:'Cuprum', sans-serif;
  color:#476081;
}


  /* Set Your Own Margin & Padding */
h2, h3, p {
  margin: 0;
  padding: 5px;
}
 
/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}